body {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bb{
    position: relative;
    padding-top: 1%;
}
.p{
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 50px;
    background-color: rgb(247, 40, 126);
    border-radius: 30%;
    width: 180px;
    height: 110px;
}


#popcat:focus {
    outline: none;
}

#popcat:active {
    border: 3px solid darkgray;
    color: darkgray;
}

@media only screen and (max-width: 480px) {
    #popcat {
        width: 200px;
    }
}